body {
  font-family: Inter-Regular, Helvetica;
  display: grid;
  justify-content: center;
}

/* CSS Reset*/
p,
body {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
  width: 500px;
  height: 500px;
}

p {
  font-size: 1.1875rem;
  color: #000000;
  word-break: break-all;
}

.container-conteudo {
  display: grid;
  gap: 25px;
  margin-top: 25px;
  justify-items: center;
}

.bolinha.ativa {
  background-color: #ff6064;
  width: 45px;
  height: 20px;
  border-radius: 10px;
}

.container-bolinhas {
  display: flex;
  gap: 15px;
}

.bolinhas {
  background-color: #d9d9d9;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff6064;
  padding: 15px;
  width: 300px;
  border-radius: 25px;
}

a:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 375px) {
  img {
    width: 250px;
    height: 300px;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  .bolinha.ativa {
    width: 40px;
    height: 15px;
  }
  .bolinhas {
    width: 15px;
    height: 15px;
  }
}
