body {
  font-family: Inter-Regular, Helvetica;
}
/* CSS Reset*/
p,
body {
  margin: 0px;
}
.seta {
  position: absolute;
  margin-top: 100px;
  margin-left: 150px;
}

.imagem {
  max-width: 100%;
  display: block;
  width: 500px;
  height: 500px;
}

p {
  font-size: 1.1875rem;
  color: #000000;
}

.conteudo-principal {
  display: grid;
  gap: 25px;
  margin-top: 25px;
  justify-items: center;
}

.container-bolinhas {
  display: flex;
  gap: 15px;
}

.bolinhas {
  background-color: #d9d9d9;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.bolinhas.ativa {
  background-color: #ff6064;
  width: 45px;
  height: 20px;
  border-radius: 10px;
}

.botao {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff6064;
  padding: 15px;
  width: 300px;
  border-radius: 25px;
}

.botao:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 375px) {
  .seta {
    margin-top: 20px;
    margin-left: 50px;
  }

  .imagem {
    width: 300px;
    height: 300px;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    word-break: break-word;
    max-width: 270px;
  }
  .bolinhas.ativa {
    width: 40px;
    height: 15px;
  }
  .bolinhas {
    width: 15px;
    height: 15px;
  }
}
